<Programs>
    <file SubPath="/Downloads/SimpleAdminBypass.exe" name="Admin Bypass" changelog="" />
    <file SubPath="/Downloads/SimpleAutoClicker.exe" name="Auto Clicker" changelog="" />
    <file SubPath="/Downloads/SimpleDiscordBigTextTool.exe" name="Discord Big Text Tool" changelog="" />
    <file SubPath="/Downloads/SimpleSpamTool.exe" name="Spam Tool" changelog="" />
    <file SubPath="/Downloads/SchoolBackgroundChanger.exe" name="School Background Changer" changelog="" />
    <file SubPath="/Downloads/SimpleEncryptDecryptTool.exe" name="Encrypt Decrypt Tool" changelog="" />
</Programs>
