<Programs>
    <file SubPath="/Downloads/SimpleAdminBypass.exe" name="Admin Bypass" />
    <file SubPath="/Downloads/SimpleAutoClicker.exe" name="Auto Clicker" />
    <file SubPath="/Downloads/SimpleDiscordBigTextTool.exe" name="Discord Big Text Tool" />
    <file SubPath="/Downloads/SimpleSpamTool.exe" name="Spam Tool" />
</Programs>